name: Tests

on:
  push:
    branches: ["main"]
    tags-ignore:
      - "*"
  pull_request:
    branches: ["main"]

permissions:
  contents: read

env:
  GOTOOLCHAIN: local

jobs:
  build:
    env:
      SHOPWARE_CLI_DISABLE_WASM_CACHE: 1

    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # ratchet:step-security/harden-runner@v2.14.1
        with:
          egress-policy: audit

      - name: Checkout Repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # ratchet:actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # ratchet:actions/setup-go@v5
        with:
          go-version: '1.25'
          check-latest: true
          cache: true

      - name: Download modules
        run: go mod download

      - name: Build
        run: go build -v ./...

      - name: Test
        run: go test -v ./...
