name: Tests

on:
  push:
    branches: ["main"]
    tags-ignore:
      - "*"
  pull_request:
    branches: ["main"]

permissions:
  contents: read

env:
  GOTOOLCHAIN: local

jobs:
  build:
    env:
      SHOPWARE_CLI_DISABLE_WASM_CACHE: 1

    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # ratchet:actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # ratchet:actions/setup-go@v5
        with:
          go-version: '1.25'
          check-latest: true
          cache: true

      - name: Build
        run: go build -v ./...

      - name: Test
        run: go test ./...
