name: Smoke Test
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2
        with:
          egress-policy: audit

      - name: Checkout Repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # ratchet:actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # ratchet:actions/setup-go@v5
        with:
          go-version: '1.24'
          cache: true
          check-latest: true

      - name: Setup PHP
        uses: shivammathur/setup-php@bf6b4fbd49ca58e4608c9c89fba0b8d90bd2a39f # ratchet:shivammathur/setup-php@v2
        with:
          php-version: '8.2'

      - name: Compile shopware-cli
        run: go build

      - name: Move to usr/bin
        run: mv shopware-cli /usr/local/bin/

      - name: Checkout Plugin
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # ratchet:actions/checkout@v4
        with:
          repository: 'FriendsOfShopware/FroshTools'
          ref: '75e2013752fd4db7535e4b72b3e3e8d57e531002'
          path: 'plugin'

      - name: Create Shopware
        run: shopware-cli project create shopware 6.5.7.3 --no-audit

      - name: Build asset of Plugin
        run: shopware-cli extension zip plugin

      - name: Build asset of Plugin without Git
        run: shopware-cli extension zip plugin --disable-git --release

      - name: Validate Plugin
        run: shopware-cli extension validate FroshTools.zip

      - name: Get Changelog
        run: shopware-cli extension get-changelog FroshTools.zip

      - name: Build asset against custom PROJECT_ROOT
        env:
          SHOPWARE_PROJECT_ROOT: ${{ github.workspace }}/shopware
        run: |
          mv plugin/.shopware-extension.yml plugin/.shopware-extension-disable.yml
          shopware-cli extension build plugin
          mv plugin/.shopware-extension-disable.yml plugin/.shopware-extension.yml

      - name: Install a Storefront Plugin
        working-directory: shopware
        run: |
          composer require 'frosh/platform-filter-search:*' --no-interaction --no-scripts
          rm -rf vendor

      - name: Setup the project
        uses: shopwareLabs/build-project-action@main
        with:
          path: shopware
