name: Smoke Test
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9
        with:
          egress-policy: audit

      - name: Checkout Repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # ratchet:actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # ratchet:actions/setup-go@v5
        with:
          go-version: '1.24'
          cache: true
          check-latest: true

      - name: Setup PHP
        uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 # ratchet:shivammathur/setup-php@v2
        with:
          php-version: '8.2'

      - name: Compile shopware-cli
        run: go build

      - name: Move to usr/bin
        run: mv shopware-cli /usr/local/bin/

      - name: Checkout Plugin
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # ratchet:actions/checkout@v4
        with:
          repository: 'FriendsOfShopware/FroshTools'
          ref: '75e2013752fd4db7535e4b72b3e3e8d57e531002'
          path: 'plugin'

      - name: Create Shopware
        run: shopware-cli project create shopware 6.5.7.3 --no-audit

      - name: Build asset of Plugin
        run: shopware-cli extension zip plugin

      - name: Build asset of Plugin without Git
        run: shopware-cli extension zip plugin --disable-git --release

      - name: Validate Plugin
        run: shopware-cli extension validate FroshTools.zip

      - name: Get Changelog
        run: shopware-cli extension get-changelog FroshTools.zip

      - name: Build asset against custom PROJECT_ROOT
        env:
          SHOPWARE_PROJECT_ROOT: ${{ github.workspace }}/shopware
        run: |
          mv plugin/.shopware-extension.yml plugin/.shopware-extension-disable.yml
          shopware-cli extension build plugin
          mv plugin/.shopware-extension-disable.yml plugin/.shopware-extension.yml

      - name: Install a Storefront Plugin
        working-directory: shopware
        run: |
          composer require 'frosh/platform-filter-search:*' --no-interaction --no-scripts
          rm -rf vendor

      - name: Setup the project
        uses: shopwareLabs/build-project-action@main
        with:
          path: shopware
